<div class="wrapper container">
    <div id="main-carousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/a.jpg" height="615" width="973" alt="">
            </div>
            <div class="item">
                <img src="/img/b.jpg" height="615" width="973" alt="">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="alerts"></div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <form id="subscribe-form">
                <legend><h2>Subscribe!</h2></legend>
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="os" id="os-win" value="windows" checked> Windows
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="os" id="os-mac" value="macos"> Mac OS
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="content col-lg-8 col-md-6 col-sm-12">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ad illum ipsum non possimus praesentium quod repudiandae, sint voluptatem! Aliquam animi blanditiis culpa dolor doloribus excepturi, ipsam laborum necessitatibus odio perferendis!</p>

            <ul>
                {{#each bullets}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>

            <p>Blanditiis culpa dolor doloribus excepturi, ipsam laborum necessitatibus odio perferendis!</p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
$.validator.setDefaults({
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    errorElement: 'span',
    errorClass: 'help-block',
    errorPlacement: function(error, element) {
        if(element.parent('.input-group').length) {
            error.insertAfter(element.parent());
        } else {
            error.insertAfter(element);
        }
    }
});

function createAlert(level, text) {
    var elmString =
        '<div class="alert alert-' + level + ' alert-dismissible" role="alert">'+
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
            text +
        '</div>';
    $(elmString).appendTo('#alerts');
}

$(document).ready(function() {
    $('#subscribe-form').validate({
        rules: {
            name: 'required',
            email: {
                required: true,
                email: true
            },
            os: 'required'
        },
        submitHandler: function(form) {
            $.post('/api/application', $(form).serialize()).then(function(msg) {
                createAlert('success', '<strong>Success!</strong> ' + msg);
            }, function(err) {
                createAlert('danger', '<strong>Error!</strong> ' + err.message);
            });
        }
    });
});
</script>
