html, body {
    height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.carousel-inner>.item>img {
    min-width: 100%;
}

.carousel-indicators li {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 3px 3px #aaa;
}

.carousel-indicators .active {
    width: 24px;
    height: 24px;
    background-color: green;
    border: 6px solid #fff;
    margin: 1px;
}

#alerts {
    padding-top: 15px;
}

#alerts:empty {
    display: none;
}

#subscribe-form {
    border: 1px solid #ccc;
    padding: 15px;
}

#subscribe-form legend {
    border: none;
    color: #045db7;
}

/* to allow scroll past content set content height to viewport height. This is desired only on bigger devices */
@media (min-width: 970px) {
    .content {
        min-height: 100vh;
    }
}

.content h2 {
    color: #00af00;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #045db7;
}